*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent !important;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}

.app {
    position: relative;
    // background: url(../../assets/img/bg-img-1.jpg);
    // filter: sepia(100%) hue-rotate(20deg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.background {
    padding-top: 108.5px;
    height: 100vh;
    background: url(../../assets/img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}


// .app::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255, 0, 0, 0.2); /* Màu đỏ với độ mờ 50% */
//     z-index: 0;
// }

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }