.admin-member {
  .container {
    padding: 0 100px;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      display: flex;
      margin-left: auto;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 6px;
      border: 1px solid #c21b1b;
      color: #c21b1b;
      background-color: #fff;
      font-size: 1.6rem;
      font-weight: 600;
      line-height: 1.5714285714;
      transition: color 0.3s ease, background-color 0.3s ease;
      &:hover {
        color: #fff;
        background-color: #c21b1b;
      }
    }
  }
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
  }

  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1.6rem;
    padding-left: 3.6rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
  }

  .input::placeholder {
    color: #9e9ea7;
  }

  .input:focus,
  input:hover {
    outline: none;
    border-color: #c21b1b;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  }

  .icon {
    position: absolute;
    left: 1.6rem;
    fill: #9e9ea7;
    width: 1.6rem;
    height: 1.6rem;
  }

  .admin-member-item {
    padding: 20px;
    border-radius: 10px;
    background-color: #efecec;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;

      p {
        font-weight: 600;
        font-size: 1.6rem;
        color: #737373;
        line-height: 2.5rem;
      }
    }
  }

  .admin-member-avatar {
    margin-right: 20px;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid #c21b1b;
  }

  // .admin-member-list {
  //     max-height: 400px;
  //     overflow-y: auto;
  //     display: grid;
  //     grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  //     gap: 20px;
  // }
  .admin-member-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .pagination button.active {
    background-color: #1890ff;
    color: white;
  }

  .pagination button:hover {
    background-color: #e6f7ff;
  }

  .admin-member-act {
    display: flex;
    gap: 20px;
  }

  .admin-member-btn {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #c21b1b;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5714285714;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .admin-member-delete {
    color: #c21b1b;
    background-color: #fff;
    &:hover {
      color: #fff;
      background-color: #c21b1b;
    }
  }

  .admin-member-edit {
    color: #fff;
    background-color: #c21b1b;
    &:hover {
      color: #c21b1b;
      background-color: #fff;
    }
  }

  .ant-pagination-item {
    border-color: #c21b1b;
    transition: 0.3s ease;
    &:hover {
      border-color: red;
      a {
        color: #c21b1b;
      }
    }
    a {
      background-color: #fff;
      border-radius: 6px;
    }
    &-active a {
      color: #c21b1b;
    }
  }
  .ant-pagination-item-link,
  .ant-pagination-item-ellipsis {
    // border: 1px solid #c21b1b !important;
    background-color: #fff !important;
    border-radius: 6px;
    &:hover {
      background-color: #fff !important;
    }
  }
  .anticon-double-left {
    border-radius: 6px;
    background-color: #fff;
    padding: 10px;
  }
}

.admin-member-modal {
  .form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &-group {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    &-group:first-child {
      flex-direction: row;
    }

    &-left,
    &-right {
      display: flex;
      flex-direction: column;
    }

    &-left {
      width: 100%;
      label {
        width: 200px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #737373;
      }
    }
  }
}
