.feedback {
    .container {
        padding: 0px 100px;
    }

    &-title {
        font-size: 4rem;
        color: #fff;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-left {
        width: 48%;
        padding: 20px 0 20px 20px;
        background-color: #efecec;
        border-radius: 10px;
    }

    &-list {
        overflow-y: auto;
        max-height: 350px;
        padding-right: 20px;
    }

    &-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-right {
        width: 48%;
        padding: 20px;
        border-radius: 10px;
        background-color: #efecec;
        h2 {
            text-align: center;
            color: #c21b1b;
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
        &-inner {
            display: flex;
            flex-direction: column;
            gap: 20px;

            label {
                font-weight: bold;
                color: #737373;
            }

            select,
            textarea {
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: #fff;
                resize: vertical;
            }
            select {
                width: 50%;
            }
            textarea {
                width: 100%;
                height: 200px;
            }
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                background-color: #c21b1b;
                color: #fff;
                font-size: 1.6rem;
                font-weight: 600;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #a50000;
                }
            }
        }
    }
}

.feedback-time {
    font-weight: bold;
    margin-bottom: 5px;
    color: #737373;
}

.feedback-type {
    font-style: italic;
    color: #666;
    margin-bottom: 5px;
}

.feedback-question {
    margin-bottom: 10px;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
