@forward "./login";
@forward "./home";
@forward "./packages";
@forward "./trainingHistory";
@forward "./profile";
@forward "./feedback";
@forward "./adminGymEquipment";
@forward "./adminAttendance";
@forward "./registrationList";
@forward "./adminPackages";
@forward "./adminMembers";
@forward "./adminFeedback";
@forward "./adminStats";
@forward "./register";