.training-history {
    .container {
        padding: 0px 100px;
    }
    &-title {
        color: #FFF;
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 40px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}